*{
  padding: 10px;
}
.navbar {
  background: blue;
}

.card{
  overflow: hidden;
  border-radius: 50px;
}

.card-body {
  text-align: left;
  margin-bottom: 10px;
}

li {
  font-size: 15px;
}

.history {
  padding: 5px;
}


.box {
  display:flex;
  flex-direction: row;
}

.btn{
  margin: 10px;
}


p{
  font-size: 17px;
}